.bgWrapper{
    background-color: #e7e5e5;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.bgLine1{
    position: absolute;
    left: 0px;
    top: 0px;
}

.bgLine2{
    position: absolute;
    right: 0px;
    top: 0px;
}
.bgLine3{
    position: absolute;
    bottom: 0px;
    right: 25%;
}