.wrapperNossoTrab{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.landingPageInfo{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45.563rem;
}
.bgNossoTrabalho{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0px;
}
.imgNossoTrabalho{
    width: 100%;
    height: 45.563rem;
}
.title{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    color: #621897;
}
.subtitle{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    color: #000000;
}

.spanSubtitle{
    font-weight: 700;
}
.textInfo{
    width: 50%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: justify;
    color: #000000;
}